#root {
  display: flex;
}

#nav-container {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 100vh;
    background-color: #131313; 
  }
  
  .initialsBox {
    font-family: 'Roboto';
    width: 100%;
    background-color: black;
    text-align: center;              
  }

  #capitalS {
    height: 90px;
    font-size: 75px;
    color: rgb(7, 226, 241);
    text-shadow: 6px 0px 0px #e9345b; 
  }

  #small-name {
    font-size: 17px;
    height: 25px;
    color: white;
    position: relative;
    top: 50px;
  }



  .main {
    flex: 1;
    display: flex;
    width: 91vw;
    height: 100vh;
    background-color: #1d1b1b;
    color: white;
    align-items: center;
    font-family: Roboto;
  }

  #S {
    color: #e9345b;
    text-shadow: -3px 0px 0px rgb(7, 226, 241);
  }

  #largeS {
    font-family: Roboto;
    font-size: 800px;
    color: #e9345b;
    text-shadow: 60px 0px 0px rgb(7, 226, 241);
    transform: rotate(-35deg)

  }
  