#root {
  display: flex;
}

#nav-container {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 100vh;
    background-color: #131313; 
  }
  
  .initialsBox {
    font-family: 'Roboto';
    width: 100%;
    background-color: black;
    text-align: center;              
  }

  #capitalS {
    height: 90px;
    font-size: 75px;
    color: aqua;
    text-shadow: 6px 0px 0px #e9345b; 
  }

  #small-name {
    font-size: 17px;
    height: 25px;
    color: white;
    position: relative;
    top: 50px;
  }

  .links {
    font-size: 24px;
  }



  .main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: 91vw;
    height: 100vh;
    background-color: #1d1b1b;
    color: white;
    align-items: center;
    font-family: Roboto;
  }

  #main-col1 {
    height: 100vh;
    width: 38vw;
  }
  .three-box-main {
    height: 32vh;
    font-family: cabin, sans-serif;
  }

  #main-col2 {
    height: 50vh;
    width: 0vw;
  }

  #S {
    color: #e9345b;
    text-shadow: -2px -1px 0px aqua;
  }

  #largeS {
    font-family: Roboto;
    font-size: 800px;
    color: #e9345b;
    text-shadow: 60px 0px 0px aqua;
    transform: rotate(-35deg);
    align-items: flex-end;
   
  }
  