/* ------------Top Level CSS------------ */
#root {
  display: flex;
  padding: 0px;
  margin: 0px;
}

/* ---------------Nav Bar CSS----------- */
#nav-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60px;
  height: 100vh;
  background-color: #131313;
}

.initialsBox {
  font-family: 'Roboto';
  width: 100%;
  background-color: black;
  text-align: center;
}

#capitalS {
  height: 60px;
  font-size: 60px;
  color: aqua;
  text-shadow: 6px 0px 0px #ff4e60;
}

#small-name {
  font-size: 15px;
  font-family: cabin, sans-serif;
  height: 25px;
  color: white;
}

.links {
  font-size: 24px;
  text-align: center;
  color: #555555;
  height: 45vh;
  padding-top: 180px;
}

.icon {
  padding-top: 32px;
}

.icon:hover {
  color: #45e2e4;
}

#outgoing-links {
  font-size: 18px;
  padding-top: 230px;
}


/* ---------------Main Content-------------- */
.main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: #1d1e3a;
  color: #45e2e4;
  font-family: Roboto;
  margin-left: 60px;
}

/* -------------Home Page CSS------------------ */

#main-col1 {
  height: 100vh;
  width: 38vw;
}

.three-box-main {
  height: 32vh;
  font-family: cabin, sans-serif;
  padding-left: 30px;
}

#main-col2 {
  height: 90vh;
  width: 21vw;
}

.cap-shadow {
  color: #ff4e60;
  text-shadow: -2px -1px 0px #45e2e4;
}

#largeS {
  font-family: Roboto;
  font-size: 770px;
  color: #ff4e60;
  text-shadow: 60px 0px 0px #45e2e4;
  transform: rotate(-35deg);
  align-items: flex-end;
  z-index: 2;
}

/* About Page CSS */

#about-top-left {
  padding-top: 100px;
  padding-left: 50px;
  font-size: 22px;
}

#profile-pic {
  margin-left: 232px;
}


/* Projects Page CSS */

#project-header {
  margin: 0px;
  width: 99%;
  height: 70px;
  text-align: center;
  font-size: 25px;
}

#projectsPage > h2 {
  display: inline-block;
}

.project-thumb {
  padding: 10px;
  width: 31%;
  height: 290px;
  justify-content: center;
  font-family: monospace;
  text-align: center;
  z-index: 2;
}

.project-thumb > h2 {
  margin: 0px;
}